[Desktop Entry]
Version=1.0
Type=Link
Name=Configuring and Loading MathJax — MathJax 3.1 documentation
Comment=
Icon=user-bookmarks
URL=http://docs.mathjax.org/en/latest/web/configuration.html
